main {
    margin-bottom: 140px;
    width: 100%;
    clear: both;
}

.carousel {
    /* 轮播图框设置*/
    width: 100%;
    position: relative;
    overflow: hidden;
}

.carousel img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.carousel ul {
    /* 轮播图选择按钮框设置*/
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -100px
}

.carousel ul li {
    /*轮播图选择按钮设置*/
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 6px;
}

.carousel_txt {
    /*轮播图文字box设置*/
    width: 340px;
    position: absolute;
    top: 16%;
    right: 28%;
    padding: 20px 14px;
    text-align: center;
}

.carousel_txt p {
    color: #fff;
    font-size: 12px;
}

/*轮播图文字box设置*/

.carousel_txt p:nth-of-type(1) {
    position: relative;
    white-space: nowrap;
    font-family: "微软雅黑";
    font-size: 24px;
    line-height: 30px;
    background-color: transparent;
}

.carousel_txt p:nth-of-type(2)::before {
    content: "";
    width: 240px;
    height: 1px;
    background-color: rgb(189, 184, 184);
    position: absolute;
    bottom: -10px;
    top: 21%;
    left: 114px;
    margin-left: -80px;
}

.carousel_txt p:nth-of-type(2) {
    position: relative;
    font-size: 14px;
    line-height: 50px;
    width: 300px;
    background-color: transparent;
}
.carousel_txt p:nth-of-type(2):after {
    content: "";
    width: 240px;
    height: 1px;
    background-color: rgb(189, 184, 184);
    position: absolute;
    bottom: 10px;
    left: 38%;
    margin-left: -80px;
}

.carousel_txt p:nth-of-type(3) {
    color: rgb(223, 219, 219);
    font-size: 12px;
    word-break: break-all;
    background-color: transparent;
}

/************************关于我们部分设置**************/

.location-box {
    width: 1200px;
    padding-top: 20px;
}

.location {
    float: right;
    width: 1100px;
    line-height: 28px;
    text-align: right;
    border-bottom: 1px solid gray;
}

.location a {
    font-size: 14px;
}

.about_us_title a, .location a {
    border: none;
}

.about_us_banner{
    margin: 0;
}
.about_us {
    /*版心设置*/
    width: 1200px;
    overflow: hidden;
}

.about_us_title {
    width: 140px;
    float: left;
}

.about_us_title a {
    position: relative;
    text-align: center;
    display: inline-block;
    width: 140px;
    font-size: 18px;
    line-height: 50px;
    border-left: 1px solid #666;
}

.lftline::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 1px;
    background-color: #666;
    top: 60%;
    left: 0;
}

.about_us_title h2 {
    width: 150px;
    position: relative;
    font-size: 22px;
    line-height: 38px;
    text-align: left;
    padding-left: 10px;
}

.bdl {
    width: 20px;
    height: 20px;
    border: 1px solid #666;
    border-top: transparent;
    border-right: transparent;
    position: absolute;
    top: 15px;
    left: 0;
}

.bdr {
    width: 20px;
    height: 20px;
    border: 1px solid #666;
    border-left: transparent;
    border-bottom: transparent;
    position: absolute;
    top: -1px;
    left: 90px;
}

/*产品展示区*/
.all-match-box {
    /*产品展示盒子*/
    width: 1012px;
    text-align: left;
    float: right;
    margin:0;
    overflow: hidden;
}
.all-match-img{
    margin-top:30px;
    float: right;
    width:276px;
}
.all-match-title {
    /*产品展示标题*/
    position: relative;
    text-align: left;
    line-height: 62px;
}

.all-match-title>span{ /*产品展示英文标题*/
    display: inline;
    font-size: 12px;
    color: #999;
    margin-left:22px;
}
span.icon-jiandao{
    position: absolute;
    font-size: 20px;
    left:-20px;
    bottom:-20px;
}
hr.line{
    position: absolute;
    width:300px;
    bottom:10px;
    left:20px;
}
hr.line2,hr.line3{
    position: absolute;
    width:156px;
    bottom:10px;
    left:20px;
}
hr.line3{
    position: absolute;
    width:100%;
    bottom:10px;
    left:20px;
}

.all-match-box p{
    color:#666;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
}

.all-match-item-box{
    width:100%;
    display: flex;
    justify-content: space-between;
    margin-top:30px;
}
.all-match-item-box :nth-child(1){
    margin-left:0;
}
.all-match-item-box :last-child{
    margin-right:0;
}

.all-match-item {
    width: 212px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.all-match-item img {
    width: 100%;
}

.all-match-item span {
    font-size: 14px;
    line-height: 74px;
}
/*末部按钮盒子*/
.butt{
    text-align: center;
}
.butt button{/* 末部按钮样式设置 */
    background-color: transparent;
    width:20px;
    height:20px;
    outline: none;
    border:1px solid gray;
}